# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
chipo.shape[0]

4622

In [11]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [15]:
chipo.shape[1] #or
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [16]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [99]:
chipo.groupby("item_name").sum().sort_values(by="quantity", ascending = False) # or
chipo.groupby('item_name')['quantity'].sum().idxmax()

<ipython-input-99-e41a8fd0f87d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby("item_name").sum().sort_values(by="quantity", ascending = False) # or

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [39]:
chipo.groupby("item_name")["quantity"].sum().sort_values(ascending = False)[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [98]:
chipo.groupby('choice_description')["quantity"].sum().sort_values(ascending = False).head(1) #or
chipo.groupby("choice_description").sum().sort_values(["quantity"], ascending = False). head(1)

<ipython-input-98-5d63b6cdbddf>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby("choice_description").sum().sort_values(["quantity"], ascending = False). head(1)

                    order_id  quantity  item_price  revunue
choice_description
[Diet Coke]           123455       159      326.71   408.41

### Step 12. How many items were orderd in total?

In [55]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [67]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [62]:
convert_float = lambda x: float(x[1:-1])
chipo["item_price"] = chipo["item_price"].apply(convert_float)

#### Step 13.c. Check the item price type

In [66]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [72]:
(chipo["item_price"]*chipo["quantity"]).sum()

39237.02

### Step 15. How many orders were made in the period?

In [90]:
chipo["order_id"].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [97]:
# Solution 1
chipo["revunue"] = chipo["item_price"] * chipo["quantity"]
chipo.groupby('order_id')['revunue'].sum().mean()

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [101]:
chipo["item_name"].value_counts().count()

50